/* Link de contato */
.contact-link { 
    font-size: 1.5em;
    text-decoration: none; 
}

/* Container do menu */
#nav-menu-container {
    margin-top: -80px;
}

/* Icones dos APPS */
.social-icons {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    width: 100%;
}

.social-icons ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
}

.social-icons ul li {
    display: inline-block;
}

.social-icons ul li a {
    text-decoration: none;
    transition: transform 0.3s;
}

.social-icons ul li a:hover {
    transform: scale(1.2);
}

.fa-whatsapp {
    color: #25D366 !important;
}

.fa-whatsapp:hover {
    color: #128C7E !important;
}

.fa-instagram {
    color: #E4405F !important;
}

.fa-instagram:hover {
    color: #C13584 !important;
}

.fa-facebook {
    color: #1877F2 !important;
}

.fa-facebook:hover {
    color: #155D8E !important;
}

.fa-envelope {
    color: #D44638 !important;
}

.fa-envelope:hover {
    color: #C1351D !important;
}

.fa-linkedin {
    color: #0077B5 !important;
}

.fa-linkedin:hover {
    color: #005582 !important;
}

/* Contatos */
.contact-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px 0;
}

.contact-link {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.separator {
    color: white;
    font-weight: bold;
}